In [1]:
a =2
a

2

In [2]:
import pandas as pd

In [4]:
bus = pd.read_csv("../Data/2024년_버스노선별_정류장별_시간대별_승하차_인원_정보(02월).csv",encoding='cp949')
bus.head()

/var/folders/jl/yg35lfdx44g7xhz7plpcx1q80000gn/T/ipykernel_20759/857383712.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  bus = pd.read_csv("../Data/2024년_버스노선별_정류장별_시간대별_승하차_인원_정보(02월).csv",encoding='cp949')

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,등록일자
0,202402,741,741번(진관차고지~헌인릉입구),100000001,1001,종로2가사거리(00075),113,135,87,117,...,231,240,156,209,135,197,111,10,서울간선버스,20240303
1,202402,N37,N37번(송파공영차고지~진관공영차고지),100000001,1001,종로2가사거리(00032),9,17,160,177,...,0,0,0,0,0,0,0,51,서울심야버스,20240303
2,202402,470,470번(상암차고지~안골마을),100000001,1001,종로2가사거리(00066),79,88,0,1,...,238,353,235,305,192,221,106,10,서울간선버스,20240303
3,202402,N37,N37번(진관공영차고지~송파공영차고지),100000001,1001,종로2가사거리(00089),0,0,0,0,...,0,0,0,0,0,0,0,51,서울심야버스,20240303
4,202402,100,100번(하계동~용산구청),100000002,1002,창경궁.서울대학교병원(00031),0,0,0,0,...,18,32,22,54,35,24,3,10,서울간선버스,20240303

In [5]:
subway = pd.read_csv('../Data/서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv',encoding='cp949')
subway.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202506,1호선,동대문,575,17,11259,1969,9299,7110,15607,...,9784,820,2982,0,236,0,0,0,0,20250703
1,202506,1호선,동묘앞,181,3,2690,925,3817,5502,8686,...,4739,115,1872,1,261,0,0,0,0,20250703
2,202506,1호선,서울역,730,49,10751,10048,29185,60086,90184,...,29968,4636,7575,5,178,0,0,0,0,20250703
3,202506,1호선,시청,96,0,1803,5796,3972,26490,7355,...,3737,538,983,0,12,0,0,0,0,20250703
4,202506,1호선,신설동,436,21,9189,2288,10160,8978,21468,...,9485,371,2857,0,0,0,0,0,0,20250703