In [1]:
a=1
a

1

> # 데이터 전처리과정 복습과정

In [2]:
import pandas as pd

> ### 날씨정보 불러오기

In [3]:
weather = pd.read_csv('../Data/merged_weather.csv',encoding='utf-8')
weather.head()

        기준_날짜  기준_시  기온(℃)  강수량(mm)  풍속(m/s)  습도(%)
0  2023-01-01     0    0.9      NaN      1.4     72
1  2023-01-01     1    1.5      NaN      1.9     71
2  2023-01-01     2    1.5      NaN      1.9     72
3  2023-01-01     3    1.6      NaN      1.6     74
4  2023-01-01     4    1.5      NaN      1.4     74

> ### 데이터체크 , 난값체크,갯수체크

In [4]:
weather.head()

        기준_날짜  기준_시  기온(℃)  강수량(mm)  풍속(m/s)  습도(%)
0  2023-01-01     0    0.9      NaN      1.4     72
1  2023-01-01     1    1.5      NaN      1.9     71
2  2023-01-01     2    1.5      NaN      1.9     72
3  2023-01-01     3    1.6      NaN      1.6     74
4  2023-01-01     4    1.5      NaN      1.4     74

In [5]:
weather.tail()

            기준_날짜  기준_시  기온(℃)  강수량(mm)  풍속(m/s)  습도(%)
22531  2025-07-27    19   35.3      NaN      2.5     56
22532  2025-07-27    20   33.8      NaN      2.0     61
22533  2025-07-27    21   32.7      NaN      1.4     69
22534  2025-07-27    22   32.2      NaN      1.1     71
22535  2025-07-27    23   31.7      NaN      2.3     74

In [6]:
weather.shape

(22536, 6)

In [7]:
weather.isna().sum()

기준_날짜          0
기준_시           0
기온(℃)          0
강수량(mm)    19882
풍속(m/s)       68
습도(%)          0
dtype: int64

> ### 난값채우기

In [8]:
# NaN 값이 있는 행만 필터링
nan_rows = weather[weather['풍속(m/s)'].isna()]
nan_rows.head()

           기준_날짜  기준_시  기온(℃)  강수량(mm)  풍속(m/s)  습도(%)
8233  2023-12-10     1   11.6      NaN      NaN     87
8234  2023-12-10     2   11.4      NaN      NaN     86
8235  2023-12-10     3   10.8      NaN      NaN     82
8236  2023-12-10     4    9.9      NaN      NaN     83
8237  2023-12-10     5    8.9      NaN      NaN     87

> 풍속을 따로 난처리하지않는이유는 누락된데이터가 양옆에 해당날기준으로 너무많다.
강수량같은경우도 마찬가지로 난값이너무많아 따로 정리하기가어렵다.

In [9]:
weather['강수량(mm)'] = weather['강수량(mm)'].fillna(0)
weather['풍속(m/s)'] = weather['풍속(m/s)'].fillna(0)

In [10]:
weather.isna().sum()

기준_날짜      0
기준_시       0
기온(℃)      0
강수량(mm)    0
풍속(m/s)    0
습도(%)      0
dtype: int64

In [11]:
weather.head()

        기준_날짜  기준_시  기온(℃)  강수량(mm)  풍속(m/s)  습도(%)
0  2023-01-01     0    0.9      0.0      1.4     72
1  2023-01-01     1    1.5      0.0      1.9     71
2  2023-01-01     2    1.5      0.0      1.9     72
3  2023-01-01     3    1.6      0.0      1.6     74
4  2023-01-01     4    1.5      0.0      1.4     74

In [12]:
# // ---------------------------------------------------------------------------//
# 저장할떄는 원래잇던 인덱스 + 인덱스가 새로 생성되므로 , 인덱스를 False로 바꿔 두번반복되는걸 방지.
# encoding utf-8-sig unicode transfomation signiture / BOM byte order mate
# // ---------------------------------------------------------------------------//
weather.to_csv('../Data/weather.csv',index=False,encoding='utf-8-sig')

> 난값을 0으로채우고 다시저장

>

In [13]:
# 원래는 가져올떄 cp949 , euc_kr 등 쓰지만 내가저장한것이기떄문에 생략
weather = pd.read_csv('../Data/weather.csv')
weather.head()

        기준_날짜  기준_시  기온(℃)  강수량(mm)  풍속(m/s)  습도(%)
0  2023-01-01     0    0.9      0.0      1.4     72
1  2023-01-01     1    1.5      0.0      1.9     71
2  2023-01-01     2    1.5      0.0      1.9     72
3  2023-01-01     3    1.6      0.0      1.6     74
4  2023-01-01     4    1.5      0.0      1.4     74

> 이번프로젝트에서 썻던 불쾌지수코드    
불쾌지수 = 1.8 x 기온 - 0.55 x (1 - 습도) x (1.8 x 기온 - 26) + 32

In [14]:
# 함수로 만들기.
# 함수끝에 \ 를붙이면 아래로 이어서쓸수잇다. 
weather['불쾌지수'] = 1.8 * weather['기온(℃)'] - 0.55 * \
                (1 - weather['습도(%)']) * (1.8*weather['기온(℃)'] -26 ) + 32
weather['불쾌지수']

0        -918.419
1        -862.350
2        -875.165
3        -893.388
4        -900.795
           ...
22531    1231.125
22532    1242.560
22533    1319.824
22534    1320.420
22535    1336.119
Name: 불쾌지수, Length: 22536, dtype: float64

> 항상 데이터 처리후에 head,tail, isna등을 찍어서 확인.

In [15]:
weather.head()

        기준_날짜  기준_시  기온(℃)  강수량(mm)  풍속(m/s)  습도(%)     불쾌지수
0  2023-01-01     0    0.9      0.0      1.4     72 -918.419
1  2023-01-01     1    1.5      0.0      1.9     71 -862.350
2  2023-01-01     2    1.5      0.0      1.9     72 -875.165
3  2023-01-01     3    1.6      0.0      1.6     74 -893.388
4  2023-01-01     4    1.5      0.0      1.4     74 -900.795

In [16]:
weather.isna().sum()

기준_날짜      0
기준_시       0
기온(℃)      0
강수량(mm)    0
풍속(m/s)    0
습도(%)      0
불쾌지수       0
dtype: int64

In [17]:
# 불쾌지수에 남은량을 찍어 갯수 체크
weather['불쾌지수'].shape

(22536,)

> ### snow data 불러오기

In [18]:
snow23 = pd.read_csv('../Data/snow23.csv')
snow23.head()

                    일시  적설(cm)
0  2023-01-06 21:00:00     1.6
1  2023-01-06 22:00:00     1.6
2  2023-01-06 23:00:00     3.3
3  2023-01-07 00:00:00     3.6
4  2023-01-07 01:00:00     3.3

In [19]:
snow23.tail()

                      일시  적설(cm)
232  2023-12-31 20:00:00     2.4
233  2023-12-31 21:00:00     2.4
234  2023-12-31 22:00:00     2.4
235  2023-12-31 23:00:00     2.4
236  2024-01-01 00:00:00     2.4

In [20]:
snow23.isna().sum()

일시        0
적설(cm)    0
dtype: int64

In [21]:
snow24 = pd.read_csv('../Data/snow24.csv')
snow24.head()

                    일시  적설(cm)
0  2024-01-01 01:00:00     2.4
1  2024-01-01 02:00:00     2.4
2  2024-01-01 03:00:00     2.4
3  2024-01-01 04:00:00     2.4
4  2024-01-01 05:00:00     2.4

In [22]:
snow24.tail()

                      일시  적설(cm)
437  2024-12-23 08:00:00     0.7
438  2024-12-23 09:00:00     0.7
439  2024-12-23 10:00:00     0.7
440  2024-12-23 11:00:00     0.7
441  2024-12-23 12:00:00     0.5

In [23]:
snow24.isna().sum()

일시        0
적설(cm)    0
dtype: int64

> ### 기상청을 보고 불러온자료이기때문에. 내가직접 가져와서 정확히 들어있는걸 한번더체크.
출처 : 기상청자료

> #### 23과 24를 통합.하고 한개로저장

In [24]:
print(snow23['일시'].dtype)
print(snow24['일시'].dtype)

object
object

##### 같은타입이라 merge와 Concat 사용할수잇지만 순서가 바뀔위험성을가진다.
##### 2023-01-01 다음으로 2023-01-02가와야하지만 2024-01-01 가 올수잇다.
##### 그래서보통 정렬을할떄 일시나 날짜로 정렬할경우 datetime으로 바꾼뒤
##### Sortvalu를 사용해 보기편하게 바꾼다.

In [25]:
# snow.일시에 괄호를 쓰는것 안쓰는것의 차이는없다. 잘돌아가나확인해보니 잘들어간다.
snow23['일시'] = pd.to_datetime(snow23.일시)
snow24['일시'] = pd.to_datetime(snow24['일시'])

In [26]:
print(snow23['일시'].dtype)
print(snow24['일시'].dtype)

datetime64[ns]
datetime64[ns]

In [27]:
snow23['일시'].sort_values()
snow23['일시'].sort_values()

0     2023-01-06 21:00:00
1     2023-01-06 22:00:00
2     2023-01-06 23:00:00
3     2023-01-07 00:00:00
4     2023-01-07 01:00:00
              ...
232   2023-12-31 20:00:00
233   2023-12-31 21:00:00
234   2023-12-31 22:00:00
235   2023-12-31 23:00:00
236   2024-01-01 00:00:00
Name: 일시, Length: 237, dtype: datetime64[ns]

> ##### 마지막줄에 () 를쓰면 함수를실행한다. 안쓸경우 아무일도안일어나고 
> ##### 이렇게되는구나. 써야겟다. 혹은 안써도되겟네 등을 보는용도로 사용한다

In [28]:
snow = pd.concat(
        [
            snow23,
            snow24
        ],
        axis=0,
        ignore_index=True
)
snow.head()

                   일시  적설(cm)
0 2023-01-06 21:00:00     1.6
1 2023-01-06 22:00:00     1.6
2 2023-01-06 23:00:00     3.3
3 2023-01-07 00:00:00     3.6
4 2023-01-07 01:00:00     3.3

In [29]:
snow.shape

(679, 2)

In [30]:
weather.shape

(22536, 7)

> ### weather과snow를합친다.

In [31]:
print(weather['기준_날짜'].dtypes)
print(snow['일시'].dtypes)

object
datetime64[ns]

In [32]:
weather['기준_날짜'] = pd.to_datetime(weather.기준_날짜)
weather.dtypes

기준_날짜      datetime64[ns]
기준_시                int64
기온(℃)             float64
강수량(mm)           float64
풍속(m/s)           float64
습도(%)               int64
불쾌지수              float64
dtype: object

> 기준_날짜와 일시를 옆으로둘것이기떄문에 merge

In [33]:
snow.head()

                   일시  적설(cm)
0 2023-01-06 21:00:00     1.6
1 2023-01-06 22:00:00     1.6
2 2023-01-06 23:00:00     3.3
3 2023-01-07 00:00:00     3.6
4 2023-01-07 01:00:00     3.3

In [34]:
weather.head()

       기준_날짜  기준_시  기온(℃)  강수량(mm)  풍속(m/s)  습도(%)     불쾌지수
0 2023-01-01     0    0.9      0.0      1.4     72 -918.419
1 2023-01-01     1    1.5      0.0      1.9     71 -862.350
2 2023-01-01     2    1.5      0.0      1.9     72 -875.165
3 2023-01-01     3    1.6      0.0      1.6     74 -893.388
4 2023-01-01     4    1.5      0.0      1.4     74 -900.795

---

# 눈데이터와 weather 를 합친건위험

In [35]:
weathers = pd.merge(
    weather,
    snow,
    left_on='기준_날짜',
    right_on='일시',
    

)
weathers.head()

,기준_날짜,기준_시,기온(℃),강수량(mm),풍속(m/s),습도(%),불쾌지수,일시,적설(cm)
0,2023-01-07,0,1.0,2.9,1.3,95,-1217.340,2023-01-07,3.6
1,2023-01-07,1,1.2,0.0,1.7,94,-1185.256,2023-01-07,3.6
2,2023-01-07,2,1.2,0.0,0.7,95,-1198.368,2023-01-07,3.6
3,2023-01-07,3,1.6,0.0,1.0,94,-1147.708,2023-01-07,3.6
4,2023-01-07,4,2.2,0.0,2.0,96,-1115.630,2023-01-07,3.6

In [36]:
weathers.drop(['일시'],axis=True,inplace=True)
weathers.head()

       기준_날짜  기준_시  기온(℃)  강수량(mm)  풍속(m/s)  습도(%)      불쾌지수  적설(cm)
0 2023-01-07     0    1.0      2.9      1.3     95 -1217.340     3.6
1 2023-01-07     1    1.2      0.0      1.7     94 -1185.256     3.6
2 2023-01-07     2    1.2      0.0      0.7     95 -1198.368     3.6
3 2023-01-07     3    1.6      0.0      1.0     94 -1147.708     3.6
4 2023-01-07     4    2.2      0.0      2.0     96 -1115.630     3.6

In [37]:
weathers.tail()

         기준_날짜  기준_시  기온(℃)  강수량(mm)  풍속(m/s)  습도(%)     불쾌지수  적설(cm)
643 2024-12-23    19    2.9      0.0      3.2     57 -602.804     0.7
644 2024-12-23    20    2.0      0.0      2.6     58 -666.640     0.7
645 2024-12-23    21    1.5      0.0      2.8     53 -631.680     0.7
646 2024-12-23    22    0.7      0.0      3.0     47 -592.662     0.7
647 2024-12-23    23   -0.1      0.0      3.2     48 -644.933     0.7

In [38]:
weathers.isna().sum()

기준_날짜      0
기준_시       0
기온(℃)      0
강수량(mm)    0
풍속(m/s)    0
습도(%)      0
불쾌지수       0
적설(cm)     0
dtype: int64

In [39]:
weathers.to_csv('../Data/weathers.csv',encoding='utf-8-sig',index=False)

> weathers로 merge후에 데이터를 합치고 저장한다. 현재추가된건 불쾌지수,적설량

In [ ]:
weather.head()

       기준_날짜  기준_시  기온(℃)  강수량(mm)  풍속(m/s)  습도(%)     불쾌지수
0 2023-01-01     0    0.9      0.0      1.4     72 -918.419
1 2023-01-01     1    1.5      0.0      1.9     71 -862.350
2 2023-01-01     2    1.5      0.0      1.9     72 -875.165
3 2023-01-01     3    1.6      0.0      1.6     74 -893.388
4 2023-01-01     4    1.5      0.0      1.4     74 -900.795

---
정리과정중 눈데이터와 병합시 누락되는걸발견햇다. 당장 원인을 찾기힘들어 불쾌지수가있는 whather데이터를 가지고가겟다.

In [44]:
weather.to_csv('../Data/weathera.csv',index=False,encoding='utf-8')